@charset "utf-8";

/* body */
body{
  margin: 0 auto;
  z-index: 1;
  height: auto;
}

/* ナビゲーション */
nav{
    height: 100vh;
    width: 5vw;
    background: #ccc;
    position: fixed;
    z-index: 99;
}

nav img{
    width: 5vw;
}

nav div.menu.icon{
    display: inline-block;
    position: relative;
    top: 40vh;
    left: 2vw;
}

/* ページ内容 */
article{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    /* 
    margin: 0 auto;
    padding-left: 5vw; */
}



/* フッター */
footer{
<<<<<<< Updated upstream
    width: 95%;
    margin-left: 5%;
}

footer ul{
    margin-left: 300px;
=======
<<<<<<< HEAD
    width: 800px;
    padding-left: 35vw;
=======
    
>>>>>>> master
>>>>>>> Stashed changes
}

footer ul li{
    list-style:none;
    float: left;
}

footer ul li a{
  margin-left: 100px;
}

footer div#copyright{
  background-color: #444;
  color: #ccc;
}





/* pageTop */
p#pageTop {
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
}




/* css icon */
.menu.icon {
    color: #000;
    position: absolute;
    margin-left: 2px;
    margin-top: 10px;
    width: 17px;
    height: 1px;
    background-color: currentColor;
  }
  
  .menu.icon:before {
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    width: 17px;
    height: 1px;
    background-color: currentColor;
  }
  
  .menu.icon:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 17px;
    height: 1px;
    background-color: currentColor;
  }







  /* ハンバーガーメニュー */
  #gloval-nav {
    background: #000;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 990;
    text-align: center;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 29px;
    opacity: 0;
    transition: opacity .6s ease, visibility .6s ease;
}
.open #gloval-nav {
    visibility: visible;
    opacity: 1;
}
