@charset "utf-8";

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> master
header{background-color: #444;}
nav{background-color: #666}
article{background-color: #888}
footer{background-color: #AAA}
<<<<<<< HEAD
=======

/* body */
body{
  margin: 0 auto;
}


/* ナビゲーション */
nav{
    height: 100vh;
    width: 5%;
    position: fixed;
    z-index: 9999;
}

/* ページ内容 */
article{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    /* 
    margin: 0 auto;
    padding-left: 5vw; */
}

article div.box{
  width: 95%;
  height: auto;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url('../images/mainVisual.jpg');
}

article img#mainVisual{
  width: 95vw;
  height: auto;
}

/* フッター */
footer{
    
}

footer ul li{
    list-style:none;
    float: left;
}

/* css icon */
.menu.icon {
    color: #000;
    position: absolute;
    margin-left: 2px;
    margin-top: 10px;
    width: 17px;
    height: 1px;
    background-color: currentColor;
    margin: 0 auto;
  }
  
  .menu.icon:before {
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    width: 17px;
    height: 1px;
    background-color: currentColor;
  }
  
  .menu.icon:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 17px;
    height: 1px;
    background-color: currentColor;
  }
