article div.box{
    width: 95%;
    height: auto;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url('../images/mainVisual.jpg');
  }
  
  article img#mainVisual{
    width: 95vw;
    height: auto;
  }
  
  /* 右下配置ボックス */
  .sampleBox {
        width: 300px;
        height: 50px;
        background-color: rgba(255, 255, 255, 0.6);
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 99;
    }
    .sampleBox img {
        position: absolute;
        right: 0;
        bottom: 0;
    }