first{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  /* 
  margin: 0 auto;
  padding-left: 5vw; */
}

second{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
}

article div.first_box{
    width: 95vw;
    height: auto;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url('../images/mainVisual.jpg');
  }

  article div.second_box{
    width: 95vw;
    height: auto;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url('../images/second.png');
  }

  article div.second_box h1{
    position: relative;
    top: 190px;
    left: 620px;
    font-size: 50px;
  }

  article div.second_box a{
    position: relative;
    top: 560px;
    left: 615px;
  }

  /*ボタン*/
  .button {
    position: relative;
    display: inline-block;
    padding: .5em 4em;
    border: 2px solid #333;
    color: #333;
    text-align: center;
    text-decoration: none;
    transition: .3s;
  }
  .button:hover {
    color: #fff;
  }
  .button {
    overflow: hidden;
  }
  .button::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 120%;
    height: 100%;
    background: #333;
    transform-origin: right top;
    transform: skewX(-30deg) scale(0, 1);
    transition: transform .3s;
  }
  .button:hover::before {
    transform-origin: left top;
    transform: skewX(-30deg) scale(1, 1);
  }


  /* 右下配置ボックス */
  .sampleBox {
        width: 300px;
        height: 50px;
        background-color: rgba(255, 255, 255, 0.6);
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 99;
    }
    .sampleBox img {
        position: absolute;
        right: 0;
        bottom: 0;
    }